<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.example.facetime">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取手机型号等相关信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--获取地址相关信息-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/send_photo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/send_photo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:resizeableActivity="false"
        >
        <activity
            android:name=".conference.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Black"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- sk://appShare?参数1=xxx&参数2=xxx -->
                <data android:scheme="sk" android:host="appShare" tools:ignore="AppLinkUrlError"/>
            </intent-filter>
        </activity>




        <!-- 注册 -->
<!--        <activity android:name="com.example.facetime.conference.RegisterActivity"-->
<!--            android:windowSoftInputMode="adjustPan"-->
<!--            android:theme="@style/AppTheme.Black"-->
<!--            >-->
<!--        </activity>-->

        <!-- 注册-设置密码 -->
        <activity android:name="com.example.facetime.conference.SetPassword"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.Black"
            >
        </activity>

        <!-- 设置昵称 -->
        <activity android:name="com.example.facetime.conference.SetNickName"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.Black"
            >
        </activity>

        <!--聊天视频-->
        <activity android:name="com.example.facetime.conference.JitsiMeetActivitySon"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.Black"
            >
        </activity>


        <!--设置-->
        <activity android:name="com.example.facetime.conference.SettingsActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.Black"
            >
        </activity>


    </application>

</manifest>